@model IEnumerable<WeatherAPILib.WeatherModel>
@{
    ViewBag.Title = "CityForm";
}

<table class="table">
    <tr>
        <th>
            Date
@Html.DisplayNameFor(model => model.Applicable_Date)
</th>
        <th>
            precipitation
        </th>
        <th>
            Low Temp
        </th>
        <th>
            High Temp
        </th>
        <th>
            Humidity
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Applicable_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weather_State_Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Min_Temp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Max_Temp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Humidity)%
                </td>
            </tr>
        }

    }
</table>
