
@{
    ViewBag.Title = "Products Page";
}

<h1>Products Page</h1>

<p>There are Physical Produts, and there are Digital Products.</p>

<p>@Html.ActionLink("Books", "PhysicalBooks", "Product")</p>
<p>@Html.ActionLink("Movies", "PhysicalMovies", "Product")</p>
<p>@Html.ActionLink("Music Albums", "PhysicalMusicAlbums", "Product")</p>
<p>@Html.ActionLink("Digital Books", "DigitalBooks", "Product")</p>
<p>@Html.ActionLink("Digital Movies", "DigitalMovies", "Product")</p>
<p>@Html.ActionLink("Digital Music Albums", "DigitalMusicAlbums", "Product")</p>

