@model IEnumerable<ShoppingLib.DigitalMusicAlbum>

@{
    ViewBag.Title = "DigitalMusicAlbums";
}

<h2>DigitalMusicAlbums</h2>

<h4>@Html.MvcSiteMap().SiteMapPath()</h4> <!--added this here for breadcrumbs-->

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductIDNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DownloadsLeft)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfTracks)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductIDNum)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DownloadsLeft)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfTracks)
            </td>
            <td>
                <a id="btn_add" href="@Url.Action("AddDigitalMusicAlbum", "Cart", item)" class="btn btn-info btn-lg">
                    Add To Cart
                </a>
            </td>
        </tr>
    }

</table>
