@model IEnumerable<ShoppingLib.DigitalBook>

@{
    ViewBag.Title = "DigitalBooks";
}

<h2>DigitalBooks</h2>

<h4>@Html.MvcSiteMap().SiteMapPath()</h4> <!--added this here for breadcrumbs-->

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductIDNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DownloadsLeft)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductIDNum)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DownloadsLeft)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                <a class="btn btn-default" href="@Url.Action("Purchase", "Product")">
                    Purchase
                </a>
            </td>
        </tr>
    }

</table>
