@model IEnumerable<ShoppingLib.PhysicalMusicAlbumCD>

@{
    ViewBag.Title = "PhysicalMusicAlbums";
}

<h2>PhysicalMusicAlbums</h2>

<h4>@Html.MvcSiteMap().SiteMapPath()</h4> <!--added this here for breadcrumbs-->

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductIDNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSpecialEdition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfTracks)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductIDNum)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSpecialEdition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfTracks)
            </td>
            <td>
                <a class="btn btn-default" href="@Url.Action("Purchase", "Product")">
                    Purchase
                </a>
            </td>
        </tr>
    }

</table>
