@model IEnumerable<ShoppingLib.PhysicalMovieDVD>

@{
    ViewBag.Title = "PhysicalMovies";
}

<h2>PhysicalMovies</h2>

<h4>@Html.MvcSiteMap().SiteMapPath()</h4> <!--added this here for breadcrumbs-->

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductIDNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfDisks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DirectedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RunTimeInMinutes)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductIDNum)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfDisks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RunTimeInMinutes)
            </td>
            <td>
                <a id="btn_add" href="@Url.Action("AddPhysicalMovie", "Cart", item)" class="btn btn-info btn-lg">
                    Add To Cart
                </a>
            </td>
        </tr>
    }

</table>
